.avatarPreview {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../public/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.part {
  height: auto;
  position: absolute;
  transition: all 0.5s;
  aspect-ratio: 1/1.2;
}
.part:hover {
  cursor: pointer;
  outline: 3px dashed white;
  outline-offset: -1px;
  filter: drop-shadow(0 0 2px black); /* Adds a black shadow around the element */
  border-radius: 0.2rem;
  z-index: 30 !important;
}
.avatarCanvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  position: relative;
  overflow: hidden;
}